*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 380px;
  padding: 20px;

  background: #f5f6f7;
}

.header {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 29px;

  color: #000000;

  white-space: nowrap;
}

.content {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 21px;
}

.content p {
  margin-bottom: 20px;
}

.content div:first-child {
  text-align: left;
}

.content div:last-child {
  text-align: right;
}

.error {
  font-size: 14px;
  color: red;
}

.button {
  width: 340px;
  height: 60px;

  margin-top: 10px;

  background: #ffd530;
  border-radius: 30px;
  border: none;

  font-size: 20px;
}
