*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

body {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
}

.form__container {
  position: absolute;
  width: 380px;
  padding: 20px;
  left: calc(50% - 380px / 2);
  top: calc(50% - 257px / 2 - 121.5px);

  background: #f5f6f7;
}

.form__container-header {
  margin-bottom: 30px;

  font-size: 24px;
  line-height: 29px;

  color: #000000;

  white-space: nowrap;
}

.form__content {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  display: flex;
  justify-content: space-between;

  margin-bottom: 21px;
}

.form__content p {
  margin-bottom: 20px;
}

.form__content div:first-child {
  text-align: left;
}

.form__content div:last-child {
  text-align: right;
}

.package__price-old {
  color: #666666;
  font-size: 16px;
  text-decoration: line-through;

  margin-right: 5px;
}

.user__input-details input {
  box-sizing: border-box;
  width: 340px;
  height: 60px;
  left: calc(50% - 340px / 2);
  top: calc(50% - 60px / 2 - 141px);

  padding-left: 25px;
  margin-bottom: 20px;

  background: #ffffff;
  border: 1px solid #e6e6e6;
  border-radius: 30px;

  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
}

.form-error {
  font-size: 14px;
  color: red;
}

.user__input-details input::placeholder {
  font-weight: 400;

  color: #aaaaaa;
}

.gross__amount {
  font-weight: 900;
}

.button-submit {
  width: 340px;
  height: 60px;
  left: calc(50% - 340px / 2);
  top: calc(50% - 60px / 2 - 43px);

  margin-top: 10px;

  background: #ffd530;
  border-radius: 30px;
  border: none;

  font-size: 20px;
}

.order__success__screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 50px;
}
